.background {

  /* background-image: url('https://wallpaperaccess.com/full/6172751.jpg'); */
  background-image: url('https://i.pinimg.com/originals/a7/3f/aa/a73faa94ef0879ab4f6bf099e0ca1319.jpg');
}

.background-text {
  background-color: white;
  z-index: 2;
}

img {
  filter: contrast(100%);
}
